<div class="sidebar-fixed position-fixed">
    <nav class="navbar px-4 w-100">
        <!-- Brand -->
        <a class="navbar-brand btn-outline-default rounded-pill px-4 mt-2 " href="/">
            <strong class="indigo-text">Surma Union</strong>
        </a>
    </nav>


    <div class="list-group list-group-flush pt-4">
        <a href="#" class="list-group-item active waves-effect">
            <i class="fas fa-chart-pie mr-3"></i>Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-user mr-3"></i>Citizen</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-table mr-3"></i>Tables</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-map mr-3"></i>Maps</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-money-bill-alt mr-3"></i>Orders</a>
    </div>

</div>
