{% load i18n %}

<nav class="navbar-default navbar-side" role="navigation">

    <div class="sidebar-collapse">

        <ul class="nav" id="main-menu">

            <li>
                <a href="index.html"><i class="fa fa-dashboard"></i> {% trans "Dashboard" %}</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-desktop"></i> {% trans "Union Parishad" %} <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">{% trans "Running Parishad" %}</a>
                    </li>

                    <li>
                        <a href="#">{% trans "Standing Committee" %} <span class="fa arrow"></span></a>

                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">{% trans "Low & Order Committee" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Low & Order Committee" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Low & Order Committee" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Low & Order Committee" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Low & Order Committee" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Low & Order Committee" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Low & Order Committee" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Low & Order Committee" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Low & Order Committee" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Low & Order Committee" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Low & Order Committee" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Low & Order Committee" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Low & Order Committee" %}</a>
                            </li>
                        </ul>

                    </li>

                    <li>
                        <a href="#">{% trans "Notice Board" %}</a>
                    </li>
                    <li>
                        <a href="#">{% trans "News Feed" %}</a>
                    </li>
                    
                </ul>
            </li>
            
            <li>
                <a href="#"><i class="fa fa-desktop"></i> {% trans "Union Assets" %} <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">{% trans "Citizen List" %}</a>
                    </li>

                    <li>
                        <a href="#">{% trans "Family List" %}</a>
                    </li>

                    <li>
                        <a href="#">{% trans "Freedom Fighter List" %}</a>
                    </li>

                    <li>
                        <a href="#">{% trans "Govt & Non Govt Org" %} <span class="fa arrow"></span></a>

                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">{% trans "Educational Institute" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Bussiness Org" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Religeous Org" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "National Personality (VIP)" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Natural Resources" %}</a>
                            </li>

                            <li>
                                <a href="#">{% trans "Torist Spot" %}</a>
                            </li>
                            
                        </ul>

                    </li>

                    
                    
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-desktop"></i> {% trans "Our services (Citizen Chart)" %} <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">{% trans "VGD Beneficiaries" %}</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-desktop"></i> {% trans "Humanitarian assistance" %} <span class="fa arrow"></span></a>
                
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">{% trans "VGD Beneficiaries" %}</a>
                    </li>
                    
                    <li>
                        <a href="#">{% trans "Fair Price Beneficiaries" %}</a>
                    </li>

                    <li>
                        <a href="#">{% trans "Distressed mother Allowance List" %}</a>
                    </li>

                    <li>
                        <a href="#">{% trans "Old age allowance List" %}</a>
                    </li>

                    <li>
                        <a href="#">{% trans "Disability Allowance List" %}</a>
                    </li>

                    <li>
                        <a href="#">{% trans "Widows allowance List" %}</a>
                    </li>

                    <li>
                        <a href="#">{% trans "Freedom Fighter Allowance List" %}</a>
                    </li>

                    <li>
                        <a href="#">{% trans "G.R Beneficiary List" %} <span class="fa arrow"></span></a>

                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">{% trans "Educational Institute" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Bussiness Org" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Religeous Org" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "National Personality (VIP)" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Natural Resources" %}</a>
                            </li>

                            <li>
                                <a href="#">{% trans "Tourist Spot" %}</a>
                            </li>
                            
                        </ul>

                    </li>

                    
                    
                </ul>
            </li>

            <li>
                <a class="active-menu" href="empty.html"><i class="fa fa-fw fa-file"></i> Empty Page</a>
            </li>
        </ul>

    </div>

</nav>