{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/track/css/bootstrap.css' %}" rel="stylesheet">
    

    <!-- Theme Custom styles (optional) -->
    <link href="{% static 'assets/track/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'assets/track/css/custom-styles.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
<div id="wrapper">

    {% include "partials/topnav.html" %}
    {% include "partials/sidebar.html" %}
    {% include "partials/page-content.html" %}

</div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'mdb/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/track/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Js -->
    <script src="{% static 'assets/track/js/jquery.metisMenu.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'assets/track/js/custom-scripts.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>


</body>
</html>
